
VITE_SUPABASE_URL=https://leypkskzqhkmkhmdbmaf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxleXBrc2t6cWhrbWtobWRibWFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MjQyMzQsImV4cCI6MjA5NTQwMDIzNH0.w_xc0DbUkWtBFvAzys6Xloy-kIZ20rIv2ANYc_GY3Ng
SUPABASE_URL=https://leypkskzqhkmkhmdbmaf.supabase.co
SUPABASE_SERVICE_KEY=
VITE_PI_SANDBOX=true
VITE_ADMIN_USER=flashman90
VITE_INVITE_CODE=flashman90
VITE_GRAND_LOME_ID=UUID-DU-RELAIS
GRAND_LOME_RELAIS_ID=UUID-DU-RELAIS
SUPABASE_WEBHOOK_SECRET=mve_webhook_secret_2024
